<ion-view view-title="Dashboard">
    <ion-content>
        <div ng-if="!showing" class="list">
            <a ng-repeat="device in devices" class="item item-icon-left devices-item"
               ng-click="showDetail({{device.id}})">
                <i class="icon ion-radio-waves" style="color:{{device.color}}"></i>
                {{device.name}}
                <div class="update-date">
                    Updated on: {{device.updateDate}}
                </div>
            </a>
        </div>
        <div ng-if="showing">
            {{selectedDevice.name}}
        </div>
    </ion-content>
</ion-view>
