<ion-view view-title="Dashboard">
    <ion-content>
        <div ng-if="!showing" class="list">
            <a ng-repeat="device in devices" class="item item-icon-left devices-item"
               ng-click="showDetail({{device.id}})">
                <i class="icon ion-radio-waves" style="color:{{device.color}}"></i>
                {{device.name}}
                <div class="update-date">
                    Updated on: {{device.updateDate}}
                </div>
            </a>
        </div>
        <div ng-if="showing">
            <h2>{{selectedDevice.name}}</h2>
            <nvd3 options="options" data="data" api="api" on-ready="chartReady"></nvd3>
        </div>
    </ion-content>
</ion-view>
